$sans: 'Source Sans Pro', 'sourcesanspro', sans-serif;
$header-font: 'PoliticsHeadBold', 'Source Sans Pro', 'sourcesanspro', sans-serif;
$tagline-font: 'PoliticsHeadBold', 'Source Sans Pro', 'sourcesanspro', sans-serif;

$jupis-orange: #f7931e;
$jupis-gray: #242424;
$jupis-blue: #046d8b;
$jupis-pink: #de2355;

@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/hyphenation";
@import "compass/utilities";
@import "compass/support";

@font-face {
	font-family: 'PoliticsHeadBold';
	font-style: normal;
	font-weight: normal;
	src: local('☺'), local('PoliticsHeadBold'), url('../font/PoliticsHeadBold.woff') format('woff');
}