body {
	background: #fff;
	color: #2B2926;
	font-family: 'Open Sans', 'Opensans', sans-serif, sans;
	font-size: 14px;
}

header {
	height: 110px;
	background: #ffcc00;
}

header > * {
	margin: 0;
	padding: 0;
}

header > p {
	height: 85px;
}

header > p > #logo {
	height: 80px;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 30px;
}

nav {
	height: 25px;
	background: #ff8800;
}

body > [role="slider"] {
	position: relative;
	height: 360px;
	width: 100%;
	background: url(http://www.greenpeace.org/austria/Global/austria/fotos/hub/urwaelder_victorymattel.jpg) #4D535F no-repeat center;
}

body > [role="slider"] > .box {
	position: absolute;
	bottom: 0px;
	left: 22px;
	width: 330px;
	height: 110px;
	background: url(../img/pattern.png);
	color: #fff;
	padding: 10px 20px;
	font-size: 23px;
	font-weight: lighter;
	line-height: 1.3;
}

body > [role="slider"] > .box > h1 {
	font-size: 23px;
	margin: 0;
	margin-bottom: 8px;
	clear: both;
	font-weight: bolder;
	display: inline-block;
	border-bottom: 2px dotted #fff;
}

body > [role="main"] {
	padding: 10px 30px;
}

footer {
	background: #ccc;
}