@font-face {
    font-family: 'Dirty Headline';
    src: url('../font/dirtyheadline/dirty_headline-webfont.eot');
    src: url('../font/dirtyheadline/dirty_headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dirtyheadline/dirty_headline-webfont.woff') format('woff'),
         url('../font/dirtyheadline/dirty_headline-webfont.ttf') format('truetype'),
         url('../font/dirtyheadline/dirty_headline-webfont.svg#DirtyHeadlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #046D8B;
	width: 100%;
	color: #242424;
	font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
.icon-flickr {
	font-size: 25px;
}
.icon-flickr:hover span:first-child {
	color: #0073ff;
}
.icon-flickr:hover span:last-child {
	color: #ff007b;
}

h2 {
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	color: #2B2926;
	margin-bottom: 0;
	border-bottom: 1px dotted #bbb;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #DE2355;
}

a:hover {
	color: #2B2926;
	border-bottom: 1px dotted #2B2926;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #cecece;
	padding: 2px;
	background: #fff;
}

input[type=button], input[type=submit], button, .btn, .btn:hover {
	border: 1px solid #ededed !important;
	color: #242424 !important;
	padding: 3px 5px;
	border: none !important;
	cursor: pointer;
}

blockquote {
	padding: 6px;
	padding-left: 10px;
	border-left: 4px solid rgb(201, 230, 228);
	margin: 10px 40px;

}

address {
	font-style: normal;
}

.light {
	font-weight: lighter !important;
}

#topbar {
	width:  930px;
	margin: 0px auto;
	height: 24px;
	font-size: 14px;
	padding-left: 30px;
}

#topbar a {
	margin-right: 10px;
	color: #eeeeee;
	border-bottom: none !important;
}

#headerwrapper {
	position: relative;
	z-index: 50;
	width: 100%;
	/*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALh4eH/GWF8EGflypWMYAEYB8RmROaABACeBw4JNO4QhQAAAABJRU5ErkJggg==) repeat;*/
	background-color: #035C75;
}

header {
	position: relative;
	height: 152px;
	width:  960px;
	margin: 0px auto;
	color: #fff;
	background: ;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPy8vKSjMhiIIGHDx8+hwvCBECKwILIAmBBdAGQIACxChB8RLDalgAAAABJRU5ErkJggg==) repeat;
	background-color: #F7931E;
	background-position: top left, bottom left;
	background-repeat: repeat, repeat-x;
	border-left: 1px solid #888;
	border-bottom: 1px solid #666;
}

header > * {
	margin: 0;
	padding: 0;
}

#header-right {
	position: absolute;
	left: 629px;
	top: 0px;
	z-index: 0;

	background: transparent;
	background-image: url(../img/header_ob_border.png);
	background-repeat: no-repeat;
	height: 152px;
	width: 231px;
	padding-left: 100px;
}

#social {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 20px;
}

#social a, #social a:hover {
	border-bottom: none;
	color: #f4f4f4;
	margin-left: 5px;
}

#social .icon-twitter:hover {
	color: #33ccff;
}
#social .icon-facebook:hover {
	color: #3b5b99;
}
#social .icon-picture:hover {
	color: #aaa;
}
#social .icon-google-plus-sign:hover {
	color: #d84937;
}
#social .icon-github:hover {
	color: #aaa;
}

#search-form {
	position: absolute;
	right: 10px;
	top: 115px;
}

#search-form input[type=text]:-moz-placeholder {
	color: #aaa;
}

#mitglied-werden {
	position: absolute;
	top: 14px;
	left: 100px;
	height: 0;
	font-family: 'Dirty Headline', sans-serif;
	border: none !important;
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}
#mitglied-werden:before {
	content: 'Werde';
	color: #fff;
	font-size: 30px;
}
#mitglied-werden:after {
	content: 'JUPI!';
	color: #f78605;
	display: block;
	font-size: 45px;
	margin-left: -7px;
	margin-top: -20px;
}
#mitglied-werden:hover:after {
	color: #046d8b;
}

#search-form input {
	display: block;
	float: left;
	border: none;
	height: 19px;
	padding: 4px !important;
	margin: 0;
	width: 220px;
}

#search-form .submit {
	background: #2D7DC5;
	padding: 0px;
	padding-left: 1px;
	padding-top: 1px;
	height: 27px !important;
	width: 27px !important;
	color: #fff !important;
	font-size: 14px;
}

#name {
	position: absolute;
	top: 15px;
	font-size: 74px;
	line-height: 1;
	left: 165px;

	padding: 7px;

	font-family: 'Open Sans Condensed', 'Open Sans', 'Opensans', sans;
	text-decoration: none !important;
	border: none !important;
	text-transform: uppercase;
	font-weight: lighter !important;
	margin-right: 0;
	padding-right: 0;
	color: #fff !important;
	text-shadow: -1px 0 #F7931E, 0 1px #F7931E, 1px 0 #F7931E, 0 -1px #F7931E;
}

#name > .bold {
	font-weight: bold;
}

#signet {
	position: absolute;
	z-index: 50;
	left: 20px;
	top: 7px;
	height: 140px;
}

nav {
	background: #242424;
	position: absolute;
	left: 145px;
	bottom: 0;
	z-index: 10;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 15px;
}

nav >  ul > li {
	position: relative;
	display: inline-block;
	display: inline-table; /* Le dirty hack. */
}

nav a {
	display: inline;
	border: 0 solid #fff !important;
	color: #fff !important;
	border-radius: 1px;
	font-size: 15px;
	padding-bottom: 2px;
}

nav li:first-child {
}

nav li:first-child > .divisor {
	display: none;
}

nav .divisor {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: lighter;
	font-size: 17px;
	
}

nav >  ul > .highlight {
}

nav >  ul > .current_page_item > a, nav > ul > li > a:hover {
	border-bottom: 1px solid #ccc !important;
}

nav > ul > .home {
	width: 28px;
	padding-top: 0;
}

.sub-menu {
	display: none;
	position: relative;
	top: 32px;
	left: 32px;
	height: 30px;
	background: #242424;
	border: #dedede;
	padding-left: 10px;
	width: 500px;
}

#slider {
	float: left;
	position: relative;
	z-index: 1;
	height: 360px;
	width: 960px;
	width: 750px;
	background: url(../img/bruessel.jpg);
	box-shadow: 0 -5px 8px #666;
	-webkit-box-shadow: 0 -5px 8px #666;
	-moz-box-shadow: 0 -5px 8px #666;
	-o-box-shadow: 0 -5px 8px #666;
	-ie-box-shadow: 0 -5px 8px #666;
	-khtml-box-shadow: 0 -5px 8px #666;

	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
}

#slider > .box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 330px;
	height: 110px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALh4eH/GWF8EGflypWMYAEYB8RmROaABACeBw4JNO4QhQAAAABJRU5ErkJggg==) repeat;
	color: #fff;
	padding: 10px 20px;
	font-size: 25px;
	text-shadow: 0px 0px 1px #aaa;
	line-height: 1.3;
	text-transform: uppercase;

}

#slider > .box > .plus {
	position: absolute;
	color: #fff;
	top: -11px;
	right: -5px;
	font-size: 18px;
	font-weight: bold;
}

#slider > .box > h1 {
	font-size: 26px;
	color: #fff;
	margin: 0;
	margin-bottom: 8px;
	margin-left: -18px;
	padding-left: 18px;
	clear: both;
	font-weight: bolder;
	display: inline-block;
	border-bottom: 2px dotted #fff;
}

.attachment-single-post-thumbnail {
	margin-bottom: 20px;
}

#wrapper {
	position: relative;
	z-index: 1;
	margin: 0 23px;
	padding: 0;
	width: 960px;
	margin: 0px auto;
	margin-bottom: 10px;
}

#wrapper > aside {
	float: right;
	margin-top: 20px;
	width: 180px;
	min-height: 500px;
	height: 100%;
}

#wrapper > aside > h1, #wrapper > aside > h2, #wrapper > aside > h3, #wrapper > aside > h4, #wrapper > aside > h5, #wrapper > aside > h6 {
	text-transform: uppercase;
}

#wrapper > aside > a > img {
	float: right;
	width: 172px;
	height: auto;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#wrapper > aside > .box {
	float: right;
	width: 170px;
	margin-bottom: 20px;
	background: #fff;
	padding: 5px 10px;
	padding: 2px;
	font-size: 14px;
	line-height: 1.4;

	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	box-shadow: 0 1px 4px rgba(0,0,0,0.33);
}

#wrapper > aside .box ul {
	color: #181619;
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-bottom: 5px;
}
#wrapper > aside .box ul li {
	padding: 6px;
	margin-bottom: 2px;
}
#wrapper > aside .box ul li abbr {
	display: block;
	font-size: 10px;
	border: 0;
	color: #444;
	margin-top: 5px;
}

#wrapper > aside .box ul li:nth-child(odd) {
	background: #F3F3F3;
}

#wrapper > aside .box ul li:nth-child(even) {
	background: #fafafa;
}

#wrapper > aside .box ul li > ul {
	margin-top: 10px;
	margin-left: 0;
	border-left: 1px solid #AAA;
	padding-left: 5px;
}

#wrapper > aside h2 {
	font-size: 19px;
	font-weight: bold;
	color: #242424 !important;
	border-bottom: 1px dashed #ccc !important;
	margin: 0 5px !important;
	margin-bottom: 10px !important;
}

#wrapper > aside h2 a {
	color: #242424 !important;
}

#wrapper > aside h2, #wrapper > aside a {
	border: 0 solid #fff;
	margin: 0;
	margin-bottom: 7px;
}

#wrapper > aside a {
	color: #242424 !important;
}

#wrapper > article {
	width: 750px;
	float: left;
	background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	box-shadow: 0 1px 4px rgba(0,0,0,0.33);
	box-shadow: 0 0 8px #666;
	padding: 1px;
	margin-top: 20px;
}

#wrapper > article .post-title {
	background: #111;
	background-image: url(../img/headerpattern.png);
	background-position: top left;
	background-repeat: repeat;
	color: #fff;
	margin: 0;
	font-size: 18px;
	border-bottom: 0 solid #000;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
#wrapper > article .post-title a {
	display: block;
	padding: 8px 10px 8px 10px;
}

#wrapper > article .content {
	padding: 5px 17px;
}

#wrapper > article .content > .meta {
	padding: 8px 2px;
	border-bottom: 1px dashed #ccc;
	color: #555;
	font-size: 13px;
}

#wrapper > article .content > .meta a {
	border-bottom: none;
	color: #555;
}

#wrapper > article .content > .meta a:hover {
	color: #F88915;
}

.clear { clear: both; }

footer {
	width: 100%;
	background: #181619;
	color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 0.85em;
	margin-top: 50px;
}

footer a, footer a:hover, footer a:visited {
	color: #ccc !important;
	border-bottom: 1px dotted #ccc;
}

/* Chromeframe */
.chromeframe {
	position: relative;
	z-index: 999999;
	background: #181818;
	color: #fff;
	margin: 0;
	padding: 0.2em 0;
	padding-left: 10px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 5px;
}

.chromeframe a {
	color: #fff !important;
	border-bottom: 1px dotted #fff !important;
}

/* Wordpress specific foo */
.comment-button {
	float: right;
}

.post {
	margin-bottom: 50px;
}

.post-title > a {
	color: inherit !important;
	text-decoration: none !important;
	border-bottom: 0 solid #fff !important;
}

.alignleft {
	float: left;
	margin: 5px;
}

.alignleft {
	float: right;
	margin: 5px;
}

.type-page {
	min-height: 400px;
}

.commentmetadata {
	font-size: 10px;
	padding-top: 3px;
}

.comment {
	padding: 10px 8px;
	margin-bottom: 5px;
}

.even {
	background: #f3f3f3;
}

.odd {
	background: #fafafa;
}

#commentform label {
	margin-left: 5px;
}

/* Wtf, Wordpress? Stup fucking around with themes by inserting arbitrary own crap css. */
.post-title > a > .dquo {
	margin-left: 0;
}

.alignleft {
	float: left;
	margin: 10px 20px;
	margin-left: 0;
}

.alignright {
	float: right;
	margin: 10px 20px;
	margin-right: 0;
}

.wp-caption {
	padding: 5px;
	width: auto;
	border: 1px solid #ededed;
}

.wp-caption-text {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	font-size: 13px;
}

#pagination {
	font-size: 0;
	margin-top: 17px;
	width: 750px;
	overflow: hidden;
}
#pagination a {
	display: block;
	padding: 7px;
	font-size: 14px;
	color: black;
	background: white;
	box-shadow: 0 0 3px #888;
}
#pagination a:hover {
	border-bottom: 0;
	color: #046D8B;
}
#pagination a:active {
	color: #262f3a;
}
#pagination a:first-child {
	float: left;
}
#pagination a:last-child {
	float: right;
}

/* Responsive foo */

/* Printer optimized view */
@media print {
	header, #header-right-skew,4 #slider-link, #slider, aside, footer, .comment-button, #topbar, .wp-post-image, .more-link {
		display: none;
	}

	a, a:hover {
		border-bottom: none !important;
	}
}

/* Mobile phones */
@media screen and (max-width: 600px) {
	aside, .plus, #slider-link, #slider, #topbar, .divisor, #signet, #header-right, #header-right-skew {
		display: none;
	}

	#wrapper, header, header > nav, footer, footer > p, .box, article {
		width: 100%;
	}

	header {
		height: 240px !important;
		min-height: 0;
		display: block;
	}

	nav {
		height: auto;
	}

	#headerwrapper {
		height: auto;
	}

	#name {
		position: absolute;
		left: 0;
		width: 90%;
		text-align: center;
		overflow: hidden;
		font-size: 60px !important;
		padding: 0;
		color: #fff !important;
	}

	#name .bold {
		background: none;
		text-shadow: none;
	}

	#wrapper {
		margin-top: 15px;
	}

	body > #wrapper > article {
		width: 100%;
		padding: 0;
		paddin-bottom: 20px;
		margin: 0;
		box-shadow: none;
		overflow: hidden;
		padding-top: 1px;
	}

	nav {
		left: 0;
		padding: 0;
	}

	nav > ul {
		margin: 0;
		padding: 0;
		padding-top: 5px;
	}

	nav > ul, nav > ul > li {
		display: block;
		clear: both;
	}
	nav > ul > li:after {
		display: none;
	}

	nav > ul > li {
		font-size: 1.3em;
		height: 10px;
		margin-bottom: 10px;
		text-align: left;
		margin-left: 10px;
		border-bottom: 1px solid #fff;
		height: auto;
	}

	nav > ul > li > a {
		border-bottom: none;
		float: none;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	nav >  ul > .current_page_item > a, nav > ul > li > a:hover {
		border-bottom: none !important;
	}

	body > [role="content"], #wrapper {
		min-height: 280px;
	}

	footer, footer > p {
		height: auto;
		min-height: 0;
		padding: 0;
		margin: 0;
	}

	footer {
		position: relative;
		width: 100%;
	}

	footer > p {
		width: 80%;
		margin: 0 auto;
		background: inherit !important;
	}
}
