$sans: 'Viga', 'Source Sans Pro', 'sourcesanspro', sans-serif;
$header: 'Open Sans Condensed', 'Open Sans', 'Opensans', sans;

$jupis-orange: #f7931e;
$jupis-gray: #242424;
$jupis-blue: #046d8b;
$jupis-pinK: #de2355;

@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/hyphenation";
@import "compass/utilities";
@import "compass/support";

@import "lib/html5-boilerplate";
@import "lib/wordpress";
@import "lib/font-awesome";
@import "lib/dirty-headline";

@import "layout/basic";
@import "layout/header";
@import "layout/nav";
@import "layout/content";
@import "layout/sidebar";
@import "layout/footer";

@import "responsive/mobile";
@import "responsive/print";