body {
	background: url(../img/main_bg.png) $jupis-blue;
	width: 100%;
	color: $jupis-gray;
	font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
	font-size: 17px;
	line-height: 1.6;
	@include hyphens(auto);
	-webkit-font-smoothing: antialiased;
}

#wrapper {
	position: relative;
	z-index: 1;
	margin: 0 23px;
	padding: 0;
	width: 960px;
	margin: 0px auto;
	margin-bottom: 10px;
}

.old_browser_warning {
	padding: 20px 60px 30px 60px;
	background: #eee;
	margin-bottom: 20px;
}

h2 {
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	color: #2B2926;
	font-family: 'Viga', 'Source Sans Pro', 'sourcesanspro', sans-serif;
	font-weight: 400;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: $jupis-pink;
}

a:hover {
	color: #2B2926;
	border-bottom: 1px dotted #2B2926;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #cecece;
	padding: 2px;
	background: #fff;
}

input[type=button], input[type=submit], button, .btn, .btn:hover {
	border: none;
	cursor: pointer;
	background: #000 !important;
	color: #fff !important;
	font-size: 14px;
	padding: {
		top: 3px;
		left: 10px;
		right: 10px;
		bottom: 3px;
	}

	&:hover {
		color: $jupis-gray !important;
	}
}

blockquote {
	padding: 6px;
	padding-left: 10px;
	border-left: 4px solid rgb(201, 230, 228);
	margin: 10px 40px;

}

address {
	font-style: normal;
}

.light {
	font-weight: lighter !important;
}

.clear { clear: both; }