body {
	background: url(../img/wk_bg.png) $jupis-blue;
	width: 100%;
	color: $jupis-gray;
	font-family: $sans;
	font-size: 17px;
	line-height: 1.6;
	@include hyphens(auto);
	-webkit-font-smoothing: antialiased;

	background: {
		size: 100% 700px;
		attachment: fixed;
	}
}

* {
	@include box-sizing(border-box);
}

#wrapper {
	position: relative;
	z-index: 1;
	margin: 0 23px;
	padding: 0;
	width: 960px;
	margin: 0px auto;
	margin-bottom: 10px;
}

.old_browser_warning {
	padding: 20px 60px 30px 60px;
	background: #eee;
	margin-bottom: 20px;
}

h2 {
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	color: #2B2926;
	font-family: $header-font;
	font-weight: 400;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: $jupis-pink;
}

a:hover {
	color: #2B2926;
	border-bottom: 1px dotted #2B2926;
}

input, textarea, button {
	font-family: $sans;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #cecece;
	padding: 2px;
	background: #fff;
}

@mixin btn {
	border: none;
	cursor: pointer;
	background: $jupis-gray !important;
	color: #fff !important;
	font-size: 14px;
	@include border-radius(2px);

	padding: {
		top: 3px;
		left: 10px;
		right: 10px;
		bottom: 3px;
	}

	&:hover {
		background: $jupis-pink !important;
		color: #fff !important;
		border: none;
	}
}
@mixin btn-white {
	background: #fff !important;
	color: #000 !important;

	&:hover {
		color: $jupis-blue !important;
	}
}
input[type=button], input[type=submit], button, .btn {
	@include btn;
}
.btn-white {
	@include btn-white;
}

blockquote {
	padding: 6px;
	padding-left: 10px;
	border-left: 4px solid rgb(201, 230, 228);
	margin: 10px 40px;

}

address {
	font-style: normal;
}

.light {
	font-weight: lighter !important;
}

.clear { clear: both; }
