#headerwrapper {
	position: relative;
	z-index: 50;
	width: 100%;

	header {
		position: relative;
		height: 152px;
		width: 960px;
		margin: 0px auto;
		color: #fff;

		> * {
			margin: 0;
			padding: 0;
		}

		#signet {
			position: absolute;
			z-index: 50;
			left: 20px;
			top: 7px;
			height: 140px;
		}

		#name {
			position: absolute;
			top: 15px;
			left: 165px;
			margin-right: 0;
			padding: 7px;
			padding-right: 0;
			border: none !important;
			color: #fff !important;
			line-height: 1;
			font: {
				size: 74px;
				family: $tagline-font;
				weight: lighter !important;
			}
			text: {
				decoration: none !important;
				transform: uppercase;
			}
		}
	}
}
