@import "compass/css3/images";

@mixin nav {
	#nav-wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 20px;

		nav {
			position: relative;
			width: 960px;
			height: 50px;
			margin: 0px auto;
			z-index: 10;
			background: #242424;
			color: #fff;
			-moz-box-shadow: 0 0 8px #888;
			-webkit-box-shadow: 0 0 8px #888;
			box-shadow: 0 0 8px #999;
			@include background(radial-gradient(top, #303030, #242424));

			font: {
				weight: bold;
				size: 20px;
			}
			padding: {
				top: 7px !important;
				bottom: 5px !important;
				right: 15px !important;
				left: 15px !important;
			}

			> ul {
				float: left;
			}

			> ul > li {
				position: relative;
				display: inline-table;

				a {
					display: inline;
					border: 0 solid #fff !important;
					color: #fff !important;
					border-radius: 1px;
					font-size: 20px;
					padding-bottom: 2px;
				}
				&.current_page_item > a, a:hover {
					border-bottom: 1px solid #eee !important;
				}
				&:after {
					content: '//';
					margin: {
						left: 10px;
						right: 10px;
					}
					font: {
						weight: lighter;
						size: 17px;
					}
				}
				&:last-child:after {
					content: '';
					display: none;
				}
				&:hover > .sub-menu {
					display: block;
				}
				.sub-menu {
					display: none;
					position: absolute;
					left: -30px;
					clear: both;
					background: #fff;
					margin-top: 7px;
					padding: 5px 0 5px 0;
					@include box-shadow(0 0 3px #000);

					&:before {
						font-family: FontAwesome;
						content: "\f0d8";
						position: absolute;
						top: -11px;
						padding: 0 60px 0 60px;
					}
					li {
						position: relative;
						margin-right: 0 !important;
						clear: both;
						line-height: auto;

						a {
							display: block;
							width: 135px;
							margin: 0 !important;
							padding: 3px 7px 5px 10px;
							border: 0 !important;
							font-weight: normal;
							font-size: 15px;
							color: #000 !important;

							&:hover {
								background: #ddd;
							}
						}
						.sub-menu {
							display: none;
							position: absolute;
							z-index: 999999;
							left: auto;
							right: -120px;
							top: 0;

							&:before {
								content: '';
							}
						}
						&:hover > .sub-menu {
							display: block;
						}
					}
				}
			}

			#social {
				float: right;

				a {
					color: #fff !important;
				}
			}
		}
	}
}
@media screen and (min-width: 601px) {
	@include nav;
}
